.footer
  .container
    .row.footer-row
      .col-md-2
        %ul.footer-list
          %li.active="About"
          %li
            %a{:href => "/about#overview"} Overview
          %li
            %a{:href => "#"} Leadership
          %li
            %a{:href => "#"} Advisors 
          %li
            %a{:href => "#"} Student Positions

      .col-md-6
        %ul.footer-list
          %li.active="Portfolio"
          %li
            %a{:href => "#"} Fund Allocation & Composition
          %li
            %a{:href => "#"} Research & Ethics Policy

      .col-md-4
        %ul.footer-list
          %li.active="Contact Us"
          %li
            %a{:href => "mailto:buinvest@bu.edu"} buinvest@bu.edu

    .row.footer-row
      .col-md-2
        %ul.footer-list
          %li.active="Student Resources"
          %li
            %a{:href => "#"} Investment Management
          %li
            %a{:href => "#"} Investment Resources
          %li
            %a{:href => "#"} Financial Analysis

      .col-md-6
        %ul.footer-list
          %li.active="Social"
          %li
            %a{:href => "", :target => "_blank"} Facebook
          %li
            %a{:href => "https://www.linkedin.com/groups/8265670/profile", :target => "_blank"} LinkedIn

      .col-md-4
        %div="© 2016 BU Finance and Investment Club"


