.footer
  .container
    .row.footer-row
      .col-md-2
        %ul.footer-list
          %li.active="About"
          %li
            %a{:href => "/about#overview"} Overview
          %li
            %a{:href => "/about#leadership"} Leadership
          %li
            %a{:href => "/about#advisors"} Advisors
          / %li
          /   %a{:href => "/about#positions"} Student Positions

      .col-md-6
        %ul.footer-list
          %li.active="Investment Fund"
          %li
            %a{:href => "/fund#allocation"} Fund Allocation & Composition
          %li
            %a{:href => "/fund#universe"} Investment Universe
          %li
            %a{:href => "/fund#ethics"} Research & Ethics Policy

      .col-md-4
        %ul.footer-list
          %li.active="Contact Us"
          %li
            %a{:href => "mailto:buinvest@bu.edu"} buinvest@bu.edu

    .row.footer-row
      .col-md-2
        %ul.footer-list
          %li.active="Student Resources"
          %li
            %a{:href => "/resources#investment-management"} Investment Management
          %li
            %a{:href => "/resources#investment-research"} Investment Research
          %li
            %a{:href => "/resources#financial-analysis"} Financial Analysis

      .col-md-6
        %ul.footer-list
          %li.active="Social"
          %li
            %a{:href => "https://www.facebook.com/groups/225323084241071/?ref=br_tf", :target => "_blank"} Facebook
          %li
            %a{:href => "https://www.linkedin.com/groups/8265670/profile", :target => "_blank"} LinkedIn

      .col-md-4
        %div="© 2016 BU Finance and Investment Club"
        %div.footer-logo

    %br
    .row.footer-row.purpose
      .col-md-12
        %div="The Boston University Finance and Investment provides this website as a learning platform and tool for BU students interested in finance - the website and club are not intended to provide investment advice."
        %br
        %div="More specifically, the material on this website is provided for informational purposes only and does not constitute an offer to sell, a solicitation to buy, or a recommendation or endorsement for any security or strategy, nor does it constitute an offer to provide investment advisory or other services by BUFC."
        %br
        %div="In addition, the content of the website neither constitutes investment advice nor offers any opinion with respect to the suitability of any security or any specific investment. The BU Finance and Investment Club makes no guarantees as to accuracy or completeness of the views expressed in the website. The views are subject to change, and may have become unreliable for various reasons, including changes in market conditions or economic circumstances."


